<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf5NewY0Tmabw-e7nTwdX9dUy0Qx5oMOo</string>
	<key>GCM_SENDER_ID</key>
	<string>925851859851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.carsonclark.Fuzzy</string>
	<key>PROJECT_ID</key>
	<string>fuzzy-af01a</string>
	<key>STORAGE_BUCKET</key>
	<string>fuzzy-af01a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925851859851:ios:83c43b565643f4c45b4d8e</string>
</dict>
</plist>